body {
  font-family: "Flexo-Regular",arial,sans-serif;
}

header {
  margin: 10px;
  padding-bottom: 20px;
}

.header_logo {
  display: flex;
  width: 100%;
  max-width: 700px;
}

.character-list {
  margin: 10px;
}

.pokemon-list {
  padding: 15px;
  border: 2px black solid;
  display: inline-block center;
  max-width: 400px;
}

.button {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
  font-size: 24px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: none;
  text-align: center;
}

#modal-container.is-visible {
  display: block;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  text-transform: capitalize;
}

.modal p {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}
